
##
# Contains root .gitignore declarations for the current project instance
# using Common Web Tools.
#

# Public web dir (the application).
# There are 2 implementation approaches for using common web tools in a project :
#   1 • Use a single, "monolothic" repo for everything
#   2 • [default] Keep application code in a separate Git repo
# → When using option 1, you may want to comment out the following lines.
# Note: these are common suggestions to adapt to project needs (option 2).
/docroot
/public
/web
/www

# Local environment variables.
/cwt/env/current/*
!/cwt/env/current/README.md

# Private files, outside of public (web) dir.
/private/*
!/private/README.md
!/private/.htaccess

# Customizations.
/cwt/custom/*
!/cwt/custom/README.md
!/cwt/custom/overrides
/cwt/custom/overrides/*
!/cwt/custom/overrides/README.md
!/cwt/custom/complements
/cwt/custom/complements/*
!/cwt/custom/complements/README.md

# DB dumps.
/dumps/*
!/dumps/README.md

# Misc.
docker-runtime
.idea
*.sql
